html, body, div, span,
h1, h2, h3, h4, h5, h6, p, em, img,
small, strike, strong, sub, sup, tt, var,
b, i, center, ol, ul, li,
fieldset, form, label,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav {
  color: #000080;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  background-color: #D8D8D8;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}